body {
    margin: 0;
    background-color:#FAFAFA;
}
.sidebar-container {
    z-index: 100;
    display: flex;
    position: fixed;
}
.sidebar {
    display: flex;
    flex: none;
    flex-direction: column;
    width: 240px;
    height: 100vh;
    background-color: #f3f4f9;
  }
.menu-button-icon {
    display: none;
}
.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 41px;
    margin-bottom: 41px;
    margin-left: 41px;
}
.logo > img {
    height: 50px;
    width: 50px;
}
#brand {
    margin-left: 10px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #333333;
}
.menu-button-chekbox {
    display: none;
  }
.menu-item {
    padding-top: 19px;
    padding-bottom: 23px;
    color: #333333;
    stroke: black;
}
.menu-item:hover > div {
    color: #34abe0;
    stroke: #34abe0;
    padding-left: 37px;
    border-left: 3px solid #34abe0;
}
.menu-item > img {
    height: 24px;
    width: 24px;
}
.menu-item > div {
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 40px;
}
.menu-name {
    margin-left: 12px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
  }
.header {
    position: fixed;
    left: 240px;
    right: 0px;
    display: flex;
    flex-direction: column;
    padding: 40px 60px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #ffffff;
    z-index: 50;
}
.header h3 {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    color: #000000;
    opacity: 0.85;
    margin-bottom: 31px;
    margin-top: 0px;
}
.header input {
    background-image: url("./img/search.svg");
    background-position: 16px;
    background-repeat: no-repeat;
    padding-left: 44px;
    padding-top: 16px;
    padding-bottom: 16px;
    border: 1px solid rgba(51, 51, 51, 0.2);
    box-sizing: border-box;
    border-radius: 50px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.45);
    height: 52px;
}
.content {
    position: absolute;
    left: 240px;
    right: 0;
    top: 201px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
}
.content-card {
    position: relative;
    margin: 10px;
    width: 347px;
    height: 160.7px;
    background-image: url("/img/hover-card.svg");
    background-repeat: round;
    filter: drop-shadow(0px 4px 3px rgba(0, 0, 0, 0.1));
}
.content-card:hover {
    background-image: url("/img/hover-card-active.svg");
}
.content-card-image {
    float: right;
}
.content-description {
    padding: 16px 20px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}
.top-title {
    margin-bottom: 4px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
  }
.top-description {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
    opacity: 0.5;
  }
.bottom-num {
    font-family: "Roboto";
    color: #df212d;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 28px;
    margin-bottom: 6px;
  }
.bottom-label {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    align-items: center;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    color: #000000;
    opacity: 0.5;
  }

@media screen and (max-width: 768px) {
.sidebar {
    width: 104px;
}
#brand {
    display: none;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
}
.menu-button-icon {
    margin-top: 43px;
    display: inline;
    content: url("/img/burger-menu.svg");
}
.menu-button-chekbox {
    display: inline;
    margin-top: 46px;
    position: absolute;
    transform: scale(3);
    opacity: 0;
}
.logo img {
    width: 24px;
    height: 24px;
}
.menu {
    padding-top: 22px;
    padding-bottom: 14px;
    }
.menu-name {
    display: none;
}
.menu-button {
    background-image: url("/img/slider.svg");
    height: 106px;
    width: 48px;
}
.content-card {
    width: 296px;
    height: 144px;
}
.header {
    left: 104px;
    padding: 26px;
}
.content {
    left: 104px;
    padding-top: 0px;
    padding-left: 16px;
    padding-right: 16px;
    }
.content-card-image {
    height: 144px;
}
.content-card img {
    position: absolute;
    right: 1px;
    width: 110px;
    bottom: 4px;
}
.top-title {
    margin-top: -3px;
    font-size: 14px;
}
.top-description {
    font-size: 14px;
}
.category-name {
    text-align: right;
    margin-top: 5px;
}
 
@media screen and (max-width: 320px) {
    .sidebar {
        width: 12px;
    }
    .logo {
        display: none;
        margin-left: 19px;
    }
    .header {
        left: 12px;
        padding-right: 21px;
        padding-bottom: 27px;
        padding-left: 20px;
    }
    .category-name {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        left: 12px;
        padding-right: 21px;
        padding-bottom: 27px;
        padding-left: 20px;
    }
    .image {
        display: none;
    }
    .menu-item > div {
        padding-left: 0px;
    }
    .menu-item:hover > div {
        padding-left: 0px;
    }
    .menu-name {
        margin-left: 0px;
        padding-left: 19px;
    }

    #input-question {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 28px;
        padding: 12px 16px 12px 44px;
    }
    .content {
        left: 12px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .content-card {
        width: 268px;
        height: 130px;
        margin: 0px;
        margin-bottom: 7px;
    }
    .top-title {
        font-family: "Roboto";
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 16px;
    }
    .top-description {
        font-family: "Roboto";
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
    }
    .bottom-num {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 24px;
    }
    .bottom-label {
        font-family: "Roboto";
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
    }
    .content-card-image img {
        position: absolute;
        right: 1px;
        width: 89px;
        bottom: 4px;
    }
}